body {
  font-family: 'Inknut Antiqua', serif;
    font-weight: 700;
    width: 100%;
    background-color: #F2EFE9;
}

/* Navbar */

#neva {
  background-color: rgba(242, 239, 233, .5);
  border-radius: 15px;
  padding: 5px;
}

.nav-con {
  text-align: center;
  justify-content: center;
}

.nav a.nav-link.active {
  background-color: #025a4e !important;
  color: #F2EFE9;
}

.nav a.nav-link{
  color: #025a4e;
}

/* Text Options */
#name {
  color: #025a4e;
}

.color-gr {
  color: #025a4e;
}

.bold {
  font-weight: 800;
}

.center {
  text-align: center;
}

.i {
  color:#F2EFE9;
  transition: 0.6s;
}

.i:hover {
color: #025a4e;
}

.ed {font-size: 16px;}

/* Title Section */
.title {
  text-align: center;
  margin-top: 250px;
  padding-bottom: 200px;
}

.title p {
  padding-top: 15px;
  font-size: 22px;
}

.title h1 {
  font-size: 52px;
}

/* Info Boxes */
.info-box {
  background-color: white;
  height: 400px;
  width: 100%;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.info-box0 {
  background-color: white;
  height: 400px;
  width: 100%;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.info-box2 {
  background-color: #025a4e;
  height: 880px;
  width: 100%;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.info-box3 {
  background-color: white;
  height: 800px;
  width: 100%;
  border-radius: 15px;
  display: flex;

  flex-wrap: wrap;
}

.info-box4 {
  background-color: #F2EFE9;
  height: 400px;
  width: 100%;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.info-box2 .info {
  color:#F2EFE9;
}

.info-box3 .info {
  margin-top: 25px;
}


.info {
  height: 360px;
  width: 100%;
  border-radius: 15px;
  margin-top: 45px;
}

.scrollspyHeading {
  margin-bottom: 25px;
}

/* Spacer */

.spacer {
  height: 150px;
}

/* Btn */

.btn {
  background-color: #F2EFE9;
  color: #025a4e;
  margin-top: 15px;
}

.btn:hover {
  background-color: white;
  color: #025a4e;
}

.projects {
/* border-radius: 15px;
border: 1px solid #F2EFE9; */
padding: 10px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
text-align: center;
}


/* Social Links */
.center-help {
  display: table;
  width: 100%;
  height: 100vh;
}

#social-test {
  display: flex;
  text-align: center;
  font-size: 30px;
  justify-content: center;
}

 .social li {
    display: inline-block;
  }
  .social li a {
    color:#025a4e ;
    border-radius: 6px;
    list-style-type: none;
    display: inline-block;
    width: 75px;
    height: 75px;
    line-height: 75px;
    padding: 1%;
    border: 1px solid #025a4e;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    transition: ease .3s;
    &:hover {
      color: white;
      background-color: #025a4e;
      border: 1px solid #025a4e;
    }
  }

  ul.social {
    margin: 0px;
    padding: 0px;
  }

  .ll {
    width: 350px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
   padding: 0px;
  }

  /* Photos */

  #pic {
    width: 250px;
    height:auto;
    object-fit: cover;
    margin-left: auto;
    margin-top: 0;
    margin-right: auto;
  }

  #jlkpic {
    margin-top: 25px;
  }

  #jlk-text {
    padding-top: 25px;
  }

  .photo {
    display: block;
    width: 350px;
    height: auto;
    border-radius: 15px;
  }

  .project-photos {
    width: 75%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    margin-top: 15px;
  }

  /* Mobile Response */

@media screen and (max-width: 480px) {
  
  .info-box {
    height: 800px;
  }

  .i {
    margin: 0;
  }

  .photo{
    width: 300px;
  }

}

@media screen and (max-width: 1000px) {
  
  .info-box {
    height: 1200px;
  }

  .info-box0 {
    height: 1000px;
  }

  .info-box2 {
    height: 2400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .info-box3 {
    height: 2250px;
    background-color: #F2EFE9;
  }

  .photos {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }

  img.photo{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .i {
    margin-top: 15px;
  }

  .title {
    padding-bottom: 150px;
  }

  #neva {
    background-color: #F2EFE9;
  }

  .projects {
    height: 350px;
  }

  .photos-box {
    margin-left: auto;
    margin-right: auto;
  }

  .shrink-info {
    height: 160px;
  }

  .shrink-info1 {
    height: 300px;
  }

  .spacer {
    height: 80px;
  }

  .grow-info {
    height: 350px;
  }
}

#nev {
  justify-content: end;
}

.hrcolor {
  color: #F2EFE9;
  opacity: 1;
}